@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

:root{
    
/* text */
--Pale-Violet: hsl(276, 100%, 81%);
--Moderate-Violet: hsl(276, 55%, 52%);
--Desaturated-Dark-Violet: hsl(271, 15%, 43%);
--Grayish-Blue: hsl(206, 6%, 79%);
--Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
--Dark-Grayish-Violet: hsl(270, 7%, 64%);
/* gradiantes */
--Light-Magenta: hsl(293, 100%, 63%);
--Light-Violet: hsl(264, 100%, 61%);
/* secundarios */
--White: hsl(0, 0%, 100%);
--Light-Grayish-Violet: hsl(270, 20%, 96%);
--Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
--Very-Light-Magenta: hsl(289, 100%, 72%);

}

body{
    font-family: 'Rubik', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: var(--Light-Grayish-Violet);
}

main{
    height: 100vh;
}

.figura_fondo{
    width: 500px;
    height: 700px;
    position: absolute;
    background:linear-gradient(0deg, hsl(264, 100%, 61%), var(--Light-Magenta));
    border-radius:0 0 300px 300px;
    bottom: 150px;
    margin-right: 470px;
    margin-bottom: 160px;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;   
}

.card_app{
    width: 270px;
    height: 510px;
    overflow:hidden;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    box-shadow: 5px 10px 20px hsla(206, 7%, 79%, 0.72);
    position: relative;
    margin-top: 60px;
    left: 10px;
}

.card{
    position: relative;
    bottom:7px ;
}

.section_1{
    display: flex;
    gap: 0.8em;
    background: linear-gradient(45deg,var(--Light-Violet),  var(--Light-Magenta));
    border-radius: 20px 20px 8px 8px;
    align-items: center;
    padding-left: 2em;
    height: 68px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.439);
    overflow:hidden;
    width: 220px;
       
}


.barrita {
    width: 135px;
    height: 18px;
    position: relative;
    top: 17px;
    left: 58px;
    background-color: white;
    border-radius:0 0 20px 20px; 
}

.section_1_img{
    height: 1.5em;
    border-radius: 100%;
    border: 1.5px solid var(--White) ;
    position: relative;
    transform: translateY(6px);
    right: 17px;
}

.flechita{
    position: relative;
    top: 5px;
    right: 13px;
    

}

.tres_puntos{
    transform: rotate(90deg);
    color: rgba(255, 255, 255, 0.616);
    font-weight: 400;
    position: relative;
    left: 40px;
    top: 10px;
}

h2{
    font-size: 0.8rem;
    color: var(--White);
    font-weight: 300;
}
.section_1_text p{
    font-size: 0.6rem;
    color: var(--Pale-Violet);
    position: relative;
    transform: translateY(-10px);
    
}

.section_1_text{
    position: relative;
    transform: translateY(10px);
    right: 18px;
}


/* Seccion 2 */
.section_2{
    background-color: hsla(270, 20%, 96%, 0.919);;
    position:absolute;
    width:250px;
    height:420px;
    border-radius: 0 0 25px 25px;
}



/* mensajes entrantes */

.section_2_entrada {
    width: 130px;
    height: 30px;
    background-color:hsla(276, 100%, 81%, 0.199);
    border-radius: 10px 10px 10px 2px;
    font-size: 0.53rem;
    margin-left:1em;
    color: var(--Moderate-Violet);
    line-height: 12px;
    display: flex;
    align-items:center;
    margin-bottom: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.253);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.049);
     
}

.section_2_entrada p{
    margin: 8px 6px 4px 8px;
}

.msj_1{
    margin-top: 10px;
}

.msj_5 {
    height: 45px;
}

.msj_5 p{
    width: 90%;
    
}

/* Mensajes salientes */

.section_2_img{
    display: flex;
    gap: 0.5em;
    justify-content: right;
    margin-right: 12px;
    margin-bottom: 10px;
    margin-top:16px;
}

.section_2_img img{
    border-radius: 13px;
    width:43px;
    height: 43px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.096);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.118);
}

.section_2_salida {
    width: 130px;
    height: 35px;
    background-color:var(--White);
    border-radius: 15px 15px 3px 15px;
    font-size: 0.53rem;
    padding: 0.2em 1em 0.4em 1em;
    margin-left: 1em;
    color: var(--Desaturated-Dark-Violet);
    line-height: 12px;
    display: flex;
    align-items:center;
    margin: 0 10px 10px auto;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.118);
   
    
}

.msj_3{
    width: 130px;
    height: 35px;

}


.msj_4{
    width: 80px;
    height: 25px;
}

.section_2_timewalk {
    display: flex;
    width: 160px;
    height: 32px;
    font-size: 0.5rem;
    background: linear-gradient(45deg,var(--Light-Magenta),  var(--Light-Violet));
    margin-bottom:8px;
    border-radius: 13px 10px 10px 3px;
    color: var(--White);
    align-items: center;
    gap: 0.5em;
    margin-left: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.118);
    
}


.section_2_timewalk p{
    font-weight: 400;
    position: relative;
    bottom: 2px;
    color: hsla(270, 20%, 96%, 0.83);
}

span{
    font-weight: 600;
    font-size: 0.8rem;
    padding-left: 30px;
    position: relative;
    top: 3px;
    color: hsl(270, 20%, 96%);
}

.span_2{
    left: 15px;
    top: 2px;
}

.circle{
    width: 11px;
    height: 11px;
    border: 1px solid hsla(270, 20%, 96%, 0.548);
    border-radius: 100%;
    margin-left: 7px;
    margin-right: 5px;
}

/* Seccion 3 */
.section_3{
    display: flex;
    flex-direction: column;
    text-align:center;
    position: relative;
    top: 10px;
}

h1{
    font-size: 2.3rem;
    color:var(--Very-Dark-Desaturated-Violet);
    position: relative;
    margin-left:0;
    margin-right:0px;
}

.section_3 p{
    width: 85%;
    line-height: 30px;
    color: var(--Dark-Grayish-Violet);
    padding-bottom: 0.5em;
    margin: 0 auto;
}

.section_2_typemsj{
    display: flex;
    justify-content: space-around;
    width: 230px;
    height: 33px;
    background-color: var(--White);
    border-radius: 40px;
    position: relative;
    left: 10px;
    margin-top: 10px;
    
}

.section_2_typemsj p{
    font-size: 0.6rem;
    color: var(--Grayish-Blue);
    position: relative;
    top: 3px;
    right: 10px;
}

.button_sent button{
    border:none;
    border-radius:100%;
    background-color: var(--Very-Dark-Desaturated-Violet);
    width: 23px;
    height: 23px;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    position: relative;
    left: 20px;
    
}

button img{
    width:5px;
    transform:rotate(180deg);
    margin-left:3px;
    position:relative;
    right:1px;
    }

@media only screen and (min-width:1000px) {
   
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    
    }

    .figura_fondo{
        top:-1px;
        margin:-10% 75% 0 0;
        height: 850px;
    }

    .section_3{
        width: 40%;
        text-align: left;
        position: relative;
        left: 90px;
        
    }

    .section_3 p{
        margin: 0;
    }
    
    h1{
        position: relative;
       
    }

    .card_app {
        bottom:50px;
        left:150px;
    }
}
